<header class="header">
  <div class="container">
    <nav class="nav">
      <a href="./#home" class="logo">
        <span class="logo__icon"></span>
        <span class="logo__text">Zeno<span class="accent">-Logic</span></span>
      </a>

      <ul class="menu">
        <li><a href="./#home" class="menu__link">Главная</a></li>
        <li><a href="./#courses" class="menu__link">Курсы</a></li>
        <li><a href="./#innovation" class="menu__link">Инновации</a></li>
        <li><a href="./#blog" class="menu__link">Блог</a></li>
        <li><a href="./#about" class="menu__link">О нас</a></li>
      </ul>

      <a href="./#contact" class="btn btn--outline">
        <span>Связаться</span>
        <i data-lucide="arrow-up-right"></i>
      </a>

      <button class="burger" aria-label="Menu">
        <span></span>
      </button>
    </nav>
  </div>
</header>